<div>
{% if blog_comments.count > 1 %}
	<ul class="list-unstyled">
		{% for comment in blog_comments %}
	    <li class="media">
	        <img src="..." class="mr-3" alt="...">
	        <div class="media-body">
	            <h5 class="mt-0 mb-1">{{comment.firstname}} {{comment.lastname}}</h5>
	            {{comment.comment}}
	        </div>
	        {{comment.created_at}}
	    </li>
	    {% endfor %}
	</ul>
{% else %}
	<div class="alert alert-warning" role="alert">No comments available.</div>
{% endif %}	
</div>
